/* Margin Utils */
.mar-5 {
  margin: 5px;
}
.mar-v-5 {
  margin: 5px 0;
}
.mar-h-5 {
  margin: 0 5px;
}
.mar-t-5 {
  margin-top: 5px;
}
.mar-b-5 {
  margin-bottom: 5px;
}
.mar-l-5 {
  margin-left: 5px;
}
.mar-r-5 {
  margin-right: 5px;
}

/* Padding Utils */
.pad-5 {
  padding: 5px;
}
.pad-v-5 {
  padding: 5px 0;
}
.pad-h-5 {
  padding: 0 5px;
}
.pad-t-5 {
  padding-top: 5px;
}
.pad-b-5 {
  padding-bottom: 5px;
}
.pad-l-5 {
  padding-left: 5px;
}
.pad-r-5 {
  padding-right: 5px;
}

/* Grid Utils */
.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}